@font-face {
    font-family: 'pan pizza';
    src: url('panpizza-webfont.woff2') format('woff2'),
         url('panpizza-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}


body {
  font-family: 'pan pizza';
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

h1{
	font-size:10vw;
}

p {
    font-size:3vw;
}

#barra_nav{
    background-color: #B52A04 !important; 

}
#opcoes_carrinho_sacola img:hover {
    filter: invert(100%) sepia(0%) saturate(7500%) hue-rotate(115deg) brightness(98%) contrast(107%) !important;

}


.BoasVindas{
  position: relative;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  height: 750px;
  max-height: 100%;
  background-color: #B52A04 !important; 
  background-image: url("/ProjetoPizzaria/img/pizza.gif");
  background-repeat: no-repeat;
  background-position: 50% 75%;
  


}




.BoasVindas .centro{
  color: white ;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#Produtos{
    background-color: #7EA92C !important; 
}

#Diferenciais{
    background-color: white !important; 
}



#myfooter {
  margin-top: auto;
  background-color: #B52A04;
}


#seta1{
  cursor: pointer;
}


#seta2{
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    cursor: pointer;  
  }

  .col img{
    max-width: 75%;
    height: auto;
  }
  
  .col-sm img{
    height: auto;
    max-width: 70%;
  }
